body {
    font-family: sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

/* Стилізація блоку з інформацією про пост  */
.postBlock {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

/* Стилізація блоку коментарів */
.commentsBlock {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
}

/* Стилізація самих коментарів */
.comment {
    width: 23%;
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin-bottom: 20px;
}

.comment h4 {
    margin-top: 0;
    color: #333;
}
